<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectPokemon</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectPokemon.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-page="Index">
                <img src="~/images/pokeball_logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                PRO-PKMN
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <!--ml-auto will push elements to the right-->
                <div class="navbar-nav ms-auto">
                    <a is-active-page class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    <a is-active-page class="nav-link" asp-area="" asp-page="/Pokedex">Pokedex</a>
                    <a is-active-page class="nav-link" asp-area="" asp-page="/About">About</a>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <!--- Footer -->
    <footer>
        <div class="container-fluid">
            <div class="row padding text-center">
                <div class="col-12">
                    <div class="lead text-decoration-none light">
                        Project Pokemon - Created by Dustin Lapierre 2022
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>