@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body
{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #222;

    /*
        Fixes the footer not floating to bottom issue
    */
    min-height: 100%;
    display:flex;
    flex-direction: column;
}

.navbar
{
    padding: .8rem;
}
.navbar-nav .nav-link
{
    padding-right: 20px !important;
}
.nav-link
{
    font-size: 1.1em !important;
}
.carousel-inner img
{
    width: 100%;
    height: 100%;
}
.carousel-caption
{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.carousel-caption h1
{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3
{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary 
{
    background-color: #F00;
    border: 0;
}
.btn-primary:hover 
{
    background-color: #c70a00;
    border: 0;
}
.btn-light
{
    border: 0;
}
.btn-light:hover 
{
    background-color: #CCC;
    border: 0;
}
.padding
{
    padding-bottom: 2rem;
}
.welcome 
{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr 
{
    border-top: 3px solid #333;
    background-color: #333;
    color: #333;
    width: 75%;
    margin-top: .3rem;
    margin: auto;
    margin-bottom: 1rem;
}

.fa-code
{
    color: #e54d26;
}
.fa-bold
{
    color: #563d7c;
}
.fa-css3
{
    color: #2163af;
}

.fa-code, .fa-bold, .fa-css3
{
    font-size: 4em;
    margin: 1rem;
}

.social a
{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-twitter 
{
    color: #00aced;
}
.fa-github 
{
    color: #333;
}
.fa-google 
{
    color: #dd4b39;
}

.fa-twitter, .fa-github, .fa-google 
{
    transition: color 0.5s;
}

.fa-twitter:hover 
{
    color: #2163af;
}
.fa-github:hover 
{
    color: #000;
}
.fa-google:hover
{
    color: #c70a00;
}

.fa-twitter:hover, .fa-github:hover, .fa-google:hover 
{
    animation: wiggle 1s 1 normal;
}

@keyframes wiggle 
{
    0%, 7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%, 100% {
        transform: rotateZ(0);
    }
}

footer
{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

.pokedex 
{
    width: 75%;
    padding: 0;
    padding-bottom: 1rem;
}
.pokedex-img 
{
    width: 100px;
    height: 100px;
    padding: 0;
    margin-left: auto;
}
.pokedex-searchbar 
{
    background-color: #E4000F;
}
.wedge-parent 
{
    height: 30px;
    position: relative;
    background-color: #3f3f3f;
}
.wedge-left
{
    position: absolute;
    left:-15%;
    background-color:#3f3f3f;
    width:15%;
    height:100%;
    border-radius: 0 0 0 100%;
}
.wedge-right
{
    position: absolute;
    right: -15%;
    background-color: #3f3f3f;
    width: 15%;
    height: 100%;
    border-radius: 0 0 100% 0;
}
.data-slider 
{
    position: relative;
    padding: 0px;
    transform: translateY(-95%);
    transition: transform 1.5s;
}
.open
{
    transform: translateY(0);
}

.data-window 
{
    background-color: #3f3f3f;
    text-align: center;
    min-height: 25px;
}

.pokemon-image-circle 
{
    border-radius: 50%;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border: 8px solid black;
    background: #E4000F;
    background-image: url("/images/pokeball_logo_white.png");
    background-position: center;
    background-size: 121%;
    box-shadow: inset 0px -50px 50px 50px rgba(0, 30, 130, 0.2);
}

.pokemon-portrait
{
    position:absolute;
    width: 80%;
    left: 10%;
    top: 10%;
}

.pokemon-number 
{
    font-size: 4rem;
    color: rgba(0,0,0,0.5);
    margin-top: -0.5rem;
    font-weight: 500;
}

.pokemon-shadow 
{
    position: absolute;
    width: 60%;
    height: 15%;
    top: 75%;
    left: 20%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.pokemon-type
{
    border-radius: 15px;
    padding: 0.25rem 0.6rem;
    box-shadow: 0px 5px 3px #000;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    .social a
    {
        font-size: 4em;
        padding: 2rem;
    }
}

@media (max-width: 768px) 
{
    .carousel-caption 
    {
        top: 45%;
    }
    .carousel-caption h1 
    {
        font-size: 350%;
    }
    .carousel-caption h3 
    {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn
    {
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4
    {
        font-size: 200%;
    }
    .social a 
    {
        font-size: 2.5em;
        padding: 1.2rem;
    }
    .pokedex-img 
    {
        display: none;
    }
    .pokedex
    {
        width: 100%;
    }
}

@media (max-width: 576px) 
{
    .carousel-caption 
    {
        top: 40%;
    }
    .carousel-caption h1 
    {
        font-size: 250%;
    }
    .carousel-caption h3 
    {
        font-size: 110%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn 
    {
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators
    {
        display:none;
    }
}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/





