@page
@model ProjectPokemon.Pages.AboutModel
@{
}

<div class="container-fluid bg-primary text-light mt-3 p-3 rounded w-75">
    <h1 class="mb-4">About</h1>
    <h5>What is Project Pokemon</h5>
    <div class="lead mb-5">
        Project Pokemon is a Web App that helps you win competitive pokemon matches. This main purpose for this project's
        existence is as a practice exercise in web dev with .NET 6. Once I've learned all I can this project will cease
        active development. I've decided to go open source with this just in case anyone wants to run with the torch afterwards.
    </div>

    <h5>Another digital PokeDex?</h5>
    <div class="lead mb-5">It's true that there are already hundreds of online PokeDexs, but they offer far more information
        than you need during a competitive match. It doesn't matter what the shiny for of the pokemon looked like in Gen 3!
        I created this app with this in mind, showing only the information I actively want and need when playing. There is
        of course room for improvement. A type strengths &and; weaknesses chart would certainly be a nice addition.
    </div>
</div>