@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="Index">
            <img src="~/images/pokeball_logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            PRO-PKMN
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <!--ml-auto will push elements to the right-->
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" asp-area="" asp-page="Index">Home</a>
                <a class="nav-link" asp-area="" asp-page="Pokedex">Pokedex</a>
            </div>
        </div>
    </div>
</nav>

<!--- Image Slider -->


<!--- Jumbotron -->


<!--- Welcome Section -->


<!--- Three Column Section -->


<!--- Two Column Section -->


<!--- Fixed background -->


<!--- Emoji Section -->

  
<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->


<!--- Connect -->


<!--- Footer -->