@page
@model ProjectPokemon.Pages.PokedexModel
@{
    ViewData["Title"] = "Pokedex";
}

<div class="container-fluid pokedex-searchbar">
    <div class="row px-1">
        <form class="col-12 col-md-8 col-lg-8 d-flex padding mt-4" role="search" method="post">
            <input class="form-control me-2" typeof="search" placeholder="Pokemon Name or Number" aria-label="Search" />
            <button class="btn btn-light" type="submit">Search</button>
        </form>
        <div class="col-md-2 col-lg-1 d-flex ms-auto align-items-center pokedex-img">
            <img src="~/images/pokeball_logo_white.png" alt="" class="ms-auto img-fluid pokedex-img" style="max-height:100px;">
        </div>
    </div>
    <div class="row h-25" style="background-color: #3f3f3f;"></div>
</div>