@page
@model ProjectPokemon.Pages.PokedexModel
@{
    ViewData["Title"] = "Pokedex";
}

<div class="d-flex justify-content-center mb-5">
    <div class="container-fluid padding bg-secondary w-75">
        <div class="row px-3">
            <div class="col-6">
                <form class="d-flex padding mt-4" role="search" method="post">
                    <input class="form-control me-2" typeof="search" placeholder="Pokemon Name or Number" aria-label="Search" />
                    <button class="btn btn-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>